<ion-header [translucent]="true">
  <ion-toolbar>
      Home
    <input type="text" name="search" class="form-control" [(ngModel)]="searchTerm" (keyup.enter)="search()">
    <span id="searchBtn" class="bg-warning" (click)="search()" >
      <ion-icon name="search-outline"></ion-icon>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  <section id="home">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="assets/img/image1.jpg" alt="first" class="item">
      </ion-slide>
      <ion-slide>
        <img src="assets/img/image2.jpg" alt="second" class="item">
      </ion-slide>
      <ion-slide>
        <img src="assets/img/image3.jpg" alt="third" class="item">
      </ion-slide>
      <ion-slide>
        <img src="assets/img/image4.jpg" alt="third" class="item">
      </ion-slide>
      <ion-slide>
        <img src="assets/img/image5.jpg" alt="third" class="item">
      </ion-slide>

    </ion-slides>

    <div class="container p-5">
      <p class="lead">
        <b>Recommended for you</b>
      </p>
      <div class="row">
        <div *ngIf="!products" class="m-auto">
          <h1 class="text-center display-3 mt-5">
            <i class="fa fa-spinner fa-spin"></i>
          </h1>
        </div>
        <ion-grid>
          <ion-row>
            
        <ion-col *ngFor="let product of products" class="col-md-3 mb-5">
          <a routerLink="/product/{{ product._id }}">
            <div class="card bg-light">
              <img src="{{ product.image }}" alt="product" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.price | currency }}</p>
              </div>
            </div>
          </a>
        </ion-col>
</ion-row>
</ion-grid>
              
      </div>
    </div>
  </section>
  
   
  
  
</ion-content>
